<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>List &bull; Scammer Numbers</title>

    <meta name="author" content="Shaun O'Neill">
    <meta name="description" content="Find every scammer number you'll ever need!">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Scammer Numbers">
    <meta property="og:image" content="assets/avatar.png">
    <meta property="og:description" content="Find every scammer number you'll ever need!">

    <meta name="twitter:title" content="Scammer Numbers">
    <meta name="twitter:image" content="img/logo.png">
    <meta name="twitter:description" content="Find every scammer number you'll ever need!">

    <link rel="shortcut icon" type="image/png" href="img/logo.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?cp0z2c">
    <link rel="stylesheet" href="/css/font-mfizz.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/hero.css">
    <link rel="stylesheet" href="/css/custom.css">

    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="js/bulma.js"></script>
</head>

<body>

<script>
    var hostUrl = '<%= serverHost %>'
</script>

<section class="hero is-large is-dark header-image">
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <%- include partials/title.ejs %>
                </div>

                <div class="nav-center">
                    <%- include partials/username.ejs %>
                </div>

                <span class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                </span>
                <div class="nav-right nav-menu">
                    <a class="nav-item" href="/">
                        Home
                    </a>
                    <a class="nav-item is-active" href="/list">
                        Numbers List
                    </a>
                    <a class="nav-item" href="/submit">
                        Submit
                    </a>
                    <p class="nav-item control has-addons">
                        <a class="button is-info is-outlines" href="/add">
                            <span class="icon is-small">
                                <i class="fa fa-plus"></i>
                            </span>
                            <span>Add Bot</span>
                        </a>

                        <%- include partials/login.ejs %>
                    </p>
                </div>
            </div>
        </header>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                <b>SSL Scammer Numbers</b>
            </h1>
            <h2 class="subtitle is-4">
                <span>We're an awesome discord server with the aim to stop scammers!</span>
            </h2>
        </div>
    </div>

</section>

<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="heading has-text-centered">
            <h1 class="title">
                <strong>~ Known Scammer Numbers ~</strong>
            </h1>
            <h2 class="subtitle">&bull;&nbsp;Be careful while call these numbers, they are known for scamming!&nbsp;&bull;</h2>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container has-text-centered">
            <p>
                <small><i>~ Please note, we don't take any responsibility for any damages caused by calling these
                        numbers! ~</i></small>
            </p>
        </div>
    </div>
</section>

<div id="snackbar"></div>

<section class="section">
    <table class="table is-stripped is-bordered">
        <thead>
        <tr>
            <th></th>
            <% if(isModerator){ %>
            <th>ID</th>
            <% } %>
            <th style="white-space: nowrap; overflow: hidden;">Submitter Username</th>
            <th style="white-space: nowrap; overflow: hidden;">Date (D/M/Y H/M/S)</th>
            <th style="white-space: nowrap; overflow: hidden;">Category</th>
            <th style="white-space: nowrap; overflow: hidden;">Free Phone</th>
            <th style="white-space: nowrap; overflow: hidden;">Country</th>
            <th style="white-space: nowrap; overflow: hidden;">Code : Number</th>
            <th style="white-space: nowrap; overflow: hidden;">Working / Not Working</th>
            <th style="white-space: nowrap; overflow: hidden;">Comment</th>
        </tr>
        </thead>

        <tbody id="listTable">

        <% if (numberData) { for (let x = 0; x < numberData.length; x++) { %>

        <tr onclick="openMoreInfoBox('<%= numberData[x].ID %>')">
            <td></td>
            <% if(isModerator){ %>
            <td style="overflow: hidden;"><%= numberData[x].ID %></td>
            <% } %>
            <td style="white-space: nowrap; overflow: hidden;"><b><%= numberData[x].SubmitAuthorName %></b></td>
            <td style="white-space: nowrap; overflow: hidden;"><%= numberData[x].Date %></td>
            <td style="white-space: nowrap; overflow: hidden;"><%= numberData[x].ScamType %></td>
            <td style="white-space: nowrap; overflow: hidden;"><%= numberData[x].FreePhone %></td>
            <td style="white-space: nowrap; overflow: hidden;"><%= numberData[x].Country %></td>
            <td style="white-space: nowrap; overflow: hidden;">
                <b>+<%= numberData[x].CountryCode %> <%= numberData[x].Number %></b></td>
            <td style="white-space: nowrap; overflow: hidden;"><%= numberData[x].WorkingCount %>
                / <%= numberData[x].NotWorkingCount %></td>
            <td style="overflow: hidden;"><b><%= numberData[x].Comment %></b></td>
        </tr>

        <% } } %>
        </tbody>
    </table>

    <% if (!numberData || numberData.length === 0) { %>
    <div class="notification is-danger has-text-centered">
        <b> ~ Sorry but it appears that no numbers have been found :'( ~ </b>
        <br>
    </div>

    <% } %>
</section>

<% if (numberData) { for (let x = 0; x < numberData.length; x++) { %>

<div id="info_<%= numberData[x].ID %>" class="modal">
    <div class="modal-background" onclick="closeMoreInfoBox('<%= numberData[x].ID %>')"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Number Info: <u><%= numberData[x].Number %></u></p>
            <button class="delete" onclick="closeMoreInfoBox('<%= numberData[x].ID %>')"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">

                <h2>&bull;&nbsp;<b>Submitted by: <%= numberData[x].SubmitAuthorName %></b></h2>
                <p>-Date of submission: <b><%= numberData[x].Date %></b></p>

                <h2>&bull;&nbsp;<b>Scam Type</b></h2>
                <p>-<%= numberData[x].ScamType %></p>

                <h2>&bull;&nbsp;<b>Free Phone: </b></h2>
                <p>-<%= numberData[x].FreePhone %></p>

                <h2>&bull;&nbsp;<b>Comment</b></h2>
                <p>-<%= numberData[x].Comment %></p>

            </div>
        </section>

        <footer class="modal-card-foot">
            <button class="button is-success"
                    onclick="numberWorked('<%= numberData[x].ID %>', '<%= numberData[x].Number %>')">Worked for me!
            </button>
            <button class="button is-danger"
                    onclick="numberDidntWork('<%= numberData[x].ID %>', '<%= numberData[x].Number %>')">Didn't work!
            </button>

            <% if(isModerator){ %>
            <button class="button is-info"
                    onclick="removeNumber('<%= numberData[x].ID %>', '<%= numberData[x].Number %>')">Remove Number
            </button>
            <% } %>
        </footer>
    </div>
</div>

<% } } %>

<%- include partials/footer.ejs %>

<script src="/js/list.js"></script>
</body>

<style>
    td {
        align-text: center
    }
</style>

</html>